.top {
	display: block;
	width: 100vw;
}

.left {
	position: fixed;
	display:block;
	top: 4vw;
	float:left;
	width: 30vw;
	
}

.right{
	display:block;
	float:left;
	width: 68vw;
	margin-left: 31vw;
	margin-top: 3vw;
}

.conditions-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;	
}

.conditions-wrapper .conditions-select {
	width: 50%;
}

.conditions-select option {
	height: 2vw;
}

.conditions-wrapper .conditions-input {
	width: 100%;
	/*margin: 0;*/
}
