.top {
	display: block;
	width: 100vw;
}

.left {
	position: fixed;
	display:block;
	top: 4vw;
	float:left;
	width: 30vw;
	
}

.right{
	display:block;
	float:left;
	width: 68vw;
	margin-left: 31vw;
	margin-top: 3vw;
}

.right thead th {
	text-align: center;
	vertical-align: middle;
}

.right tbody tr:hover {
	background: #1b9bff;
}

.right tbody tr:hover td {
	color: white;
}


.right thead tr:first-child th:nth-child(1) {
	width: 3vw;
}
.right thead tr:first-child th:nth-child(2) {
	width: 5vw;
}
.right thead tr:first-child th:nth-child(3) {
	width: 25vw;
}
.right thead tr:first-child th:nth-child(4) {
	width: 10vw;
}
.right thead tr:first-child th:nth-child(5) {
	width: 10vw;
}
.right thead tr:first-child th:nth-child(6) {
	width: 10vw;
}